* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  margin-top: 50px;
}

.gallery-cell {
  width: 25%;
  height: 400px;
  margin-right: 0;
  counter-increment: gallery-cell;
}

.gallery-cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
